<nav class="navbar navbar-fixed-top navbar-light bg-faded" style="background: transparent;">
  <div class="container">
    <ul class="nav navbar-nav float-xs-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Request Review</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <div class="jumbotron" style="background: rgba(255, 255, 255, 0);">
        <h1 class="display-4">Recipes for delicious code.</h1>
        <p class="lead">
          I will refine your code with more than 13 years experience in JavaScript and front-end development.
          Including 5 years practice with AngularJS.
        </p>
        <p class="lead">
          You will get a detailed code analyze and documentation in return plus sample code and live coaching on request.
        </p>
      </div>
    </div>
    <!--
    <div class="col-md-4 offset-md-1 mt-3">
      <h6>Peter Müller</h6>
      <p>
        JavaScript Engineer, Consultant & Trainer
      </p>
      <hr />
      <nav class="nav nav-inline">
        <a class="nav-link" href="#">Contact</a>
        <a class="nav-link" href="#">Disclaimer</a>
      </nav>
    </div>
    -->
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-block" style="background: rgba(255, 255, 255, 0); border: none;">
        <h4 class="card-title">Scalability &amp; Modularity</h4>
        <p class="card-text">
          From prototypes to large scale web applications. Each kind of app has it's own needs to keep maintainable.
          Whether or not if you have to migrate your prototype to a solid code base or if you need to refactor your
          application: we will identify structural problems which arised while development and find the best way to
          modularize your web application for better scaling and reusable components.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-block" style="background: rgba(255, 255, 255, 0); border: none;">
        <h4 class="card-title">Clean &amp; Stable Code</h4>
        <p class="card-text">
          Clean code is important for every application. But it's a must if you work with team-mates on the same code base.
        </p>
        <p class="card-text">
          Nowadays we have a bunch of tools which helps us to keep our code quality up.
        </p>
        <p class="card-text">
          There is a wide range between laxy and hard code conventions. From linting to testing: together we will find the best
          setup which fits perfectly for your team.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-block" style="background: rgba(255, 255, 255, 0); border: none;">
        <h4 class="card-title">Offline First & PWA</h4>
        <p class="card-text">
          Everybody is talking about web applications instead of websites while more and more web apps
          popping up at the web, replacing traditional software.
        </p>
        <p class="card-text">
          Modern web apps must be available all the time, even if the user is offline. To provide  all these capabilities
          we can use the Progressive Web Apps <small>(PWA)</small> coding paradigm.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-block" style="background: rgba(255, 255, 255, 0); border: none;">
        <h4 class="card-title">Web Performance</h4>
        <p class="card-text">
          From the first few lines of HTML or JavaScript your application performance can be improved. There are a lot of
          reasons to improve the speed of your web app, like <mark>better user experience</mark> and <mark>higher SEO ranking</mark>
          which causes a <mark>higher conversion</mark>.
        </p>
        <p class="card-text">
          Due to this improvements we can reduce bandwidth which scales down costs for the customers mobile plan and
          saves money on your hosting.
        </p>
        <!--
        <hr />
        <ul>
          <li>Evaluating HTTP responses for caching, reliability and compression.</li>
          <li>Determine duplicated or not cached HTTP calls</li>
          <li>Identification of dead but deliverd code</li>
          <li>Check of UI for optimistic rendering possibilities</li>
          <li>Increase of rendering performance, script loading and execution</li>
          <li>Check images and embedded media for compression and optimization</li>
          <li>Suggestion of tools to keep your performance up</li>
        </ul>
        -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-block" style="background: rgba(255, 255, 255, 0); border: none;">
        <h4 class="card-title">Internationalization & Localization</h4>
        <p class="card-text">
          Internationalization <small>(i18n)</small> and localization <small>(i10n)</small> is more than translating simple language strings.
          It's all about compiling your app for different languages, just in time or on the fly. We care about currencies,
          dates, calendars, message formatting like pluralization and if needed, a freshy HTML structure to support RTL
          <small>(right to left)</small> content.
        </p>
        <p class="card-text">
          We will prepare your application for locale based translation and even the boss: time zones.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-block" style="background: rgba(255, 255, 255, 0); border: none;">
        <h4 class="card-title">ECMAScript &amp; TypeScript</h4>
        <p class="card-text">
          adsf
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-block" style="background: rgba(255, 255, 255, 0); border: none;">
        <h4 class="card-title">RESTful Application Interfaces</h4>
        <p class="card-text">
          adsf
        </p>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-8">
      <div class="card card-block" style="background: rgba(255, 255, 255, 0); border: none;">
        <h4 class="card-title">Accessability &amp; Aria</h4>
        <p class="card-text">Code Styles, ESLint, TSLint, Comments, JSDoc, Naming Conventions, Testing</p>
      </div>
    </div>
  </div>
</div>
