html, body {

	height: 100%;
}

[ng-app] {

	display: flex;
	flex-flow: column;
	height: 100%;
}

header, footer {

	flex: none;
}

main {

  flex: 1 1 auto;
  overflow: auto;
}

footer .container {

	margin-top: 20px;
	margin-bottom: 20px;
}